<!DOCTYPE html>
<html>
    <head>
        <link href="https://themeswitcher.csh.rit.edu/api/get" rel="stylesheet">
        <meta content="initial-scale=1, width=device-width" name="viewport">
        <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script crossorigin="anonymous" defer integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>CSH Bucket</title>
    </head>
    <body>
        <nav class="bg-primary navbar navbar-dark navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="/">Bucket</a>
            </div>
        </nav>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>Size</th>
                </thead>
                <tbody>
                    {% for object in objects %}
                    <tr>
                        <td>{{object.Key}}</td>
                        <td>{{object.LastModified}}</td>
                        <td>{{object.Size}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>